
    body
    {
        font-family: Arial, Helvetica, sans-serif;
        background-color: white;
        height: 100vh;
        background-image: url(../IMG/b.jpg);
        background-size: center;
        background-position: auto;
        background-repeat: no-repeat;
    }
 
    div
    {
        background-color: white;
        width: 55%;
        margin: auto;
        padding: 10px;
        margin-bottom: 10px;
    }
 
    div h2
    {
        color: darkorange;
    }
 
    div img
    {
        width: 100%;
        height: 400px;
    }